body {
    width: 45em;
    
}

.yak { 
    background-color: #ffc88c;
}

.distraction {
    background-color: #f7baba;
}

.postfacto {
    background-color: #d1d1d1;
}

.search {
    background-color: #f0f2ac;
}

.leadup {
    background-color: #fadcfa;
}

.coding {
    background-color: #B0E6A5;


}